*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(33, 33, 34);
    height: 100vh;
    gap: 5%;
}

.tabuleiro{
    display: grid;
    grid-template-columns:repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap:5px;
}

.celula{
    width: 100px;
    height: 100px;
    background-color: rgb(67, 67, 70);
    border: 2px solid #b8b8b8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
    user-select: none;
    color: #b8b8b8;
}

.resultado{
    /* display: none; */
    padding: 0.5% 6%;
    font-size: 50px;
    background-color: rgba(46, 60, 255, 0.37);
    color: #b8b8b8;
    user-select: none;
}

.botao-reinicio{
    background-color:rgb(67, 67, 70);
    font-size: 20px;
    color: #b8b8b8;
    padding: 1rem;
    cursor: pointer;
    border-radius: 35px;
    border: 2px solid #b8b8b8;
    user-select: none;
}

.botao-reinicio:hover{
    color: #f5f5f5;
}